@import '_variables';
/* header */
.header {
    padding: 97px 0;
    background: url("../img/header/header-bg.svg") center center / cover no-repeat;
}
/* wrapper */
.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    &__first {
        padding: 0 55px 0 0;
        width: 310px;
        height: 960px;
        background: url("../img/main/main-bg.svg") center center / cover no-repeat;
    }

    &__second {
    }
}
/* info */
.info {

    &__img {
        max-width: 130px;
        max-height: 130px;
        img {
            max-width: 100%;
        }
    }

    &__title {
        margin: 15px 0 0 0;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        color: $mainDarkColor;
        text-transform: uppercase;
        text-align: center;
        span {
            color: $mainWhite;
        }
    }

    &__subtitle {
        margin: 5px 0 0 0;
        font-size: 14px;
        font-weight: 400;
        color: $mainDarkColor;
        text-transform: uppercase;
        text-align: center;
    }
}
/* contacts */
.contact {  
    margin: 20px 0 0 0;
    &__title {
    }

    &__list {
        margin: 20px 0 0 0;
    }
    
    &__item {
        padding: 0 0 0 30px;
        position: relative;
        max-width: 200px;
        margin: 0 auto;
    }
    &__item::before {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        width: 25px;
        height: 25px;
        
    }
    &__item:nth-child(1):before {
        background: url('../icons/home.svg') no-repeat;
        background-size: 25px;
    }
    &__item:nth-child(2):before {
        background: url('../icons/phone.svg') no-repeat;
        background-size: 25px;
    }
    &__item:nth-child(3):before {
        background: url('../icons/email.svg') no-repeat;
        background-size: 25px;
    }
    &__item:nth-child(4):before {
        background: url('../icons/github.svg') no-repeat;
        background-size: 25px;
    }
    &__item:nth-child(5):before {
        background: url('../icons/discord.svg') no-repeat;
        background-size: 25px;
    }
    &__item:nth-child(6):before {
        background: url('../icons/telegram.svg') no-repeat;
        background-size: 25px;
    }
    &__item:not(:last-child) {
        margin: 0 auto 15px auto;
    }
    
    
    &__link {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        color: $mainDarkColor;
        transition: all 0.3s ease;

        &:hover {
            color: $mainWhite;
        }  
    }
    &__link::before {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0px;
        height: 2px;
        background-color: $mainDarkColor;
        transition: all 0.3s ease;
         
    }
    &__link:hover::before {
        width: 100%;
    }
}
/* skills */
.skills {
    margin: 20px 0 0 0;

    &__title {
    }

    &__list {
       
        max-width: 180px;
        margin: 20px auto 0 auto; 
    }

    &__item {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        color: $mainDarkColor;
        padding: 0 0 0 15px;
    }
    &__item::before {
        content: '';
        position: absolute;
        top: 4px;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 50px;
        background-color: $mainDarkColor;
    }
    &__item:not(:last-child) {
        margin: 0 auto 10px auto;
    }
}


.titleWhite {
    margin: 0 auto;
    max-width: 180px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: $mainDarkColor;
    background-color: $mainWhite;
    border-radius: 50px;
    padding: 3px 30px;
    text-align: center;
    transition: all 1s ease;
    z-index: 1;
    
}
.titleWhite:hover {
    color: $mainWhite;
}
.titleWhite::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    z-index: -1;
    background-color: $mainDarkColor;
    transition: all 0.5s ease;
    
}
.titleWhite:hover::before {
    width: 100%;
}
/* footer */
.footer {
    padding: 102px 0 45px 0;
    background: url("../img/footer/footer-bg.svg") center center / cover no-repeat;
}
