@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '_normalize';
@import '_main';
@import '_variables';

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}